<?xml version="1.0"?>
<config>
  <modules>
    <Nikinpages_GoogleSpreadsheet>
      <version>0.1.0</version>
    </Nikinpages_GoogleSpreadsheet>
  </modules>
  <global>
    <helpers>
      <nikinpages_googlespreadsheet>
        <class>Nikinpages_GoogleSpreadsheet_Helper</class>
      </nikinpages_googlespreadsheet>
    </helpers>
    <models>
      <nikinpages_googlespreadsheet>
        <class>Nikinpages_GoogleSpreadsheet_Model</class>
      </nikinpages_googlespreadsheet>
    </models>
  </global>
</config> 